/* Logos oficiais dos times. */
.mascot-image{background-color:transparent!important;background-repeat:no-repeat!important;background-position:center!important;background-size:contain!important;}
.mascote-branco{background-image:url('/assets/mascots/mascote-branco.png')!important;}
.mascote-marrom{background-image:url('/assets/mascots/mascote-marrom.png')!important;}
.mascote-cinza{background-image:url('/assets/mascots/mascote-cinza.png')!important;}
.mascote-azul-escuro{background-image:url('/assets/mascots/mascote-azul-escuro.png')!important;}
.mascote-azul-claro{background-image:url('/assets/mascots/mascote-azul-claro.png')!important;}
.mascote-laranja{background-image:url('/assets/mascots/mascote-laranja.png')!important;}
.mascote-verde-escuro{background-image:url('/assets/mascots/mascote-verde-escuro.png')!important;}
.mascote-verde-claro{background-image:url('/assets/mascots/mascote-verde-claro.png')!important;}
.mascote-preto{background-image:url('/assets/mascots/mascote-preto.png')!important;}
.mascote-vermelho{background-image:url('/assets/mascots/mascote-vermelho.png')!important;}
.mascote-amarelo{background-image:url('/assets/mascots/mascote-amarelo.png')!important;}
